In [16]:
import pandas as pd

In [17]:
! ls data/

train

In [18]:
df = pd.read_csv("data/train", sep="\t", names=["true_category", "message"])

In [19]:
df

     true_category                                            message
0              ham  Go until jurong point, crazy.. Available only ...
1              ham                      Ok lar... Joking wif u oni...
2             spam  Free entry in 2 a wkly comp to win FA Cup fina...
3              ham  U dun say so early hor... U c already then say...
4              ham  Nah I don't think he goes to usf, he lives aro...
...            ...                                                ...
4569           ham  hiya hows it going in sunny africa? hope u r a...
4570           ham                At WHAT TIME should i come tomorrow
4571          spam  Wanna have a laugh? Try CHIT-CHAT on your mobi...
4572           ham  CHA QUITEAMUZING THATSCOOL BABE,PROBPOP IN & ...
4573           ham                     Omg how did u know what I ate?

[4574 rows x 2 columns]

In [20]:
# example_message_ham = df["message"][0]
# example_message_spam = df["message"][2]

# example_message_ham

In [21]:
# example_message_spam
# df.drop(['predicted'], axis=1)
# df.insert(['predicted'], )

In [22]:
# from spam import algorithm_v1
df

     true_category                                            message
0              ham  Go until jurong point, crazy.. Available only ...
1              ham                      Ok lar... Joking wif u oni...
2             spam  Free entry in 2 a wkly comp to win FA Cup fina...
3              ham  U dun say so early hor... U c already then say...
4              ham  Nah I don't think he goes to usf, he lives aro...
...            ...                                                ...
4569           ham  hiya hows it going in sunny africa? hope u r a...
4570           ham                At WHAT TIME should i come tomorrow
4571          spam  Wanna have a laugh? Try CHIT-CHAT on your mobi...
4572           ham  CHA QUITEAMUZING THATSCOOL BABE,PROBPOP IN & ...
4573           ham                     Omg how did u know what I ate?

[4574 rows x 2 columns]

In [23]:
# algorithm_v1(example_message_ham, cutoff)

In [24]:
# algorithm_v1(example_message_spam)
# print(df['true_category'][0])

- add a new columns to `df` called `predicted_category`
- for each row in `df`, if `df["predicted_category"] == df["true_category"]` then you were correct!
- for example, if the number of columns that match is 4400, then the accuracy is 4400/4573

In [25]:
# for cutoff in range(0, 100):
#     get_accuracy(algorithm_v1, dataset, cutoff)

In [26]:
from version_one import main_func as alg_v1
from version_two import check as alg_v2
# from spam import main_func as alg_v3
# from words import check_again as alg_v4

In [27]:
# # dont run this it'll be too much
# for i in range(int(int(len(df))/100)):
#     sms = df['message'][i]
#     alg_v1(sms)

In [28]:
# for i in range(int(int(len(df))/100)):
# # for i in range(len(df)):
#     sms = df['message'][i]
#     label = df['true_category'][i]
#     print(label)
#     alg_v2(sms,label)
#     print(' ')

In [29]:
# for i in range(int(int(len(df))/100)):
#     sms = df['message'][i]
#     alg_v3(sms)

In [30]:
# for i in range(int(int(len(df))/100)):
#     sms = df['message'][i]
#     label = df['true_category'][i]
#     print(label)
#     alg_v4(sms, label)

In [38]:
df["predicted"] = int()

In [39]:
df

,true_category,message,predicted
0,ham,"Go until jurong point, crazy.. Available only ...",0
1,ham,Ok lar... Joking wif u oni...,0
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,0
3,ham,U dun say so early hor... U c already then say...,0
4,ham,"Nah I don't think he goes to usf, he lives aro...",0
...,...,...,...
4569,ham,hiya hows it going in sunny africa? hope u r a...,0
4570,ham,At WHAT TIME should i come tomorrow,0
4571,spam,Wanna have a laugh? Try CHIT-CHAT on your mobi...,0
4572,ham,"CHA QUITEAMUZING THATSCOOL BABE,PROBPOP IN & ...",0
4573,ham,Omg how did u know what I ate?,0

In [ ]:
#####EDIT DRIVER FUNCTIONS BEFORE RUNNING
# for i in range(int(int(len(df))/100)):
#     message = df[i]
#     alg_v1(message)
#
#
# for i in range(int(int(len(df))/100)):
#     message = df[i]
#     alg_v2(message)
#
#
# for i in range(len(df)):
#     message = df[i]
#     predicted = alg_v1(message)
#
#
# for i in range(len(df)):
#     message = df[i]
#     predicted = alg_v2(message)
#