In [14]:
import pandas as pd

In [15]:
! ls data/

train

In [16]:
df = pd.read_csv("data/train", sep="\t", names=["true_category", "message"])

In [17]:
df

     true_category                                            message
0              ham  Go until jurong point, crazy.. Available only ...
1              ham                      Ok lar... Joking wif u oni...
2             spam  Free entry in 2 a wkly comp to win FA Cup fina...
3              ham  U dun say so early hor... U c already then say...
4              ham  Nah I don't think he goes to usf, he lives aro...
...            ...                                                ...
4569           ham  hiya hows it going in sunny africa? hope u r a...
4570           ham                At WHAT TIME should i come tomorrow
4571          spam  Wanna have a laugh? Try CHIT-CHAT on your mobi...
4572           ham  CHA QUITEAMUZING THATSCOOL BABE,PROBPOP IN & ...
4573           ham                     Omg how did u know what I ate?

[4574 rows x 2 columns]

In [18]:
example_message_ham = df["message"][0]
example_message_spam = df["message"][2]

example_message_ham

'Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...'

In [19]:
example_message_spam

"Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"

In [20]:
# from spam import algorithm_v1

In [21]:
algorithm_v1(example_message_ham, cutoff)

NameError: name 'algorithm_v1' is not defined

In [ ]:
algorithm_v1(example_message_spam)

- add a new columns to `df` called `predicted_category`
- for each row in `df`, if `df["predicted_category"] == df["true_category"]` then you were correct!
- for example, if the number of columns that match is 4400, then the accuracy is 4400/4573

In [ ]:
for cutoff in range(0, 100):
    get_accuracy(algorithm_v1, dataset, cutoff)

In [22]:
from bigrams import check as alg_v1
from words import check as alg_v2
from spam import main_func as alg_v3

In [23]:
# dont run this it'll be too much
for i in range(int(int(len(df))/100)):
    sms = df['message'][i]
    alg_v1(sms)

not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam

In [24]:
for i in range(int(int(len(df))/100)):
    sms = df['message'][i]
    alg_v2(sms)

not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam
not spam

In [25]:
for i in range(int(int(len(df))/100)):
    sms = df['message'][i]
    alg_v3(sms)

ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham
ham