## Importing pandas so we can create dataframes. 
## Importing csv so we can read the file with the data
> the data was originaly a xlsx file. I could not figure out how to open it using pandas so I uploaded to google sheets and downloaded as csv.

In [18]:
import pandas as pd
import csv

## This lets me check what I have in my directory and see what the file name is

In [19]:
! ls

Untitled.ipynb stock_x.csv

> This data set is from StockX. A website that allows users the ability to buy and sell sneakers. The data is from 2019 as a contest they creted to see whou could visualize the data. This notebook is not about visualisation of the data tho.

In [20]:
df = pd.read_csv("stock_x.csv")

In [16]:
df

,Order Date,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Buyer Region
0,9/1/2017,Yeezy,Adidas-Yeezy-Boost-350-Low-V2-Beluga,"$1,097",$220,9/24/2016,11.0,California
1,9/1/2017,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Copper,$685,$220,11/23/2016,11.0,California
2,9/1/2017,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Green,$690,$220,11/23/2016,11.0,California
3,9/1/2017,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red,"$1,075",$220,11/23/2016,11.5,Kentucky
4,9/1/2017,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017,$828,$220,2/11/2017,11.0,Rhode Island
...,...,...,...,...,...,...,...,...
99951,2/13/2019,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,$565,$220,12/26/2018,8.0,Oregon
99952,2/13/2019,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,$598,$220,12/26/2018,8.5,California
99953,2/13/2019,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,$605,$220,12/26/2018,5.5,New York
99954,2/13/2019,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,$650,$220,12/26/2018,11.0,California
99955,2/13/2019,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,$640,$220,12/26/2018,11.5,Texas

In [ ]:
#### things to loook for in data
# which brand sells higher at which points
# highets selling shoe
# most common size
# which region buys which shoes
# which brand sold more
# size and price